streamlit
numpy
torch
tensorflow

faiss-cpu
opencv-python

# CLIP
open_clip_torch

# speech to text
openai-whisper
librosa
easynmt
soundfile
ffmpeg-python

# dev tools
black
isort

# whisperx
torch==2.0.0
torchvision==0.15.1
torchaudio==2.0.11
whisperx @ git+https://github.com/m-bain/whisperx.git

# tool
loguru
tqdm
