streamlit==1.38
numpy
torch
tensorflow

faiss-cpu

# CLIP
open_clip_torch

# speech to text
# openai-whisper  # deprecated
librosa
easynmt
langdetect  # lang detect for CPU machine
soundfile
ffmpeg-python

# OCR
easyocr
# opencv-python-headless==4.5.4.60 # should be this version for easyocr to run
opencv-python-headless

# dev tools
black
isort

# whisperx
torch==2.0.0
torchvision==0.15.1
torchaudio==2.0.1
whisperx @ git+https://github.com/m-bain/whisperx.git

# tool
loguru
tqdm

salesforce-lavis

opencv-python==4.8.0.74

